*{
    margin: 0;
    padding: 0;
}
button:hover{
    background: #000;
}
button{
    border-radius: 5px;
    margin: 10px;
    padding: 8px;
    cursor: pointer;
    color: aqua;
    background-color: #0c5bd2;
}
input{
    padding: 8px;
    width: 250px;
}
.App{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
    border-radius: 5px;
    background: #9db8cb;
}
.input-container{
    height: 50px;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: rgb(105, 115, 218);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 200px;
    width: 400px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  